<html>
  <head>
    <title>Event Management</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="flex jc-between">
          <a class="jc-center flex" href="/">
            <img class="logo" src="/images/logo.png" alt="Logo" />
            <h2>INFINITY</h2>
          </a>
          <nav>
            <ul class="flex jc-around">
              <li>
                <a href="/about"> About Us </a>
              </li>
              <li>
                <a href="/gallery"> Gallery </a>
              </li>
              <li>
                <a href="/events"> Events </a>
              </li>
            </ul>
          </nav>
        </div>
        <h1>Welcome to Infinity Event Management</h1>
      </div>
    </header>
    <section class="container space">
      <h2 class="txt-center">Gallery</h2>
      <div class="flex flex-flow">
        <img class="gallery-img" src="/images/gallery/1.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/2.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/3.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/4.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/5.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/6.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/7.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/8.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/9.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/10.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/11.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/12.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/13.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/14.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/15.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/16.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/17.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/18.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/19.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/20.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/21.jpg" alt="Gallery Image" />
        <img class="gallery-img" src="/images/gallery/22.jpg" alt="Gallery Image" />
      </div>
    </section>
    
    <footer>
      <div>
          <small>&copy; All CopyRights Reserved 2022</small>
      </div>
  </footer>
  </body>
</html>
