<html>
  <head>
    <title>Event Management</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="flex jc-between">
          <a class="jc-center flex" href="/">
            <img class="logo" src="/images/logo.png" alt="Logo" />
            <h2>INFINITY</h2>
          </a>
          <nav>
            <ul class="flex jc-around">
              <li>
                <a href="/about"> About Us </a>
              </li>
              <li>
                <a href="/gallery"> Gallery </a>
              </li>
              <li>
                <a href="/events"> Events </a>
              </li>
            </ul>
          </nav>
        </div>
        <h1>Welcome to Infinity Event Management</h1>
      </div>
    </header>
    <section class="container space">
      <div class="grid">
        <article>
          <h3>Sports</h3>
          <img class="circle" src="/images/home/sports.jpg" alt="Sports" />
          <p class="margin">
            I look at directing as a sporting event. It's a race, a marathon. It's great when it clicks, which is why I push my crews so hard so we can excel.
          </p>
        </article>
        <article>
          <h3>Corporate Events</h3>
          <img
            class="circle"
            src="/images/home/corporate-events.jpg"
            alt="corporate-events"
          />
          <p class="margin">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit vel
            dolorum nisi itaque nihil ipsam ab ut et consequuntur exercitationem
            excepturi eius, molestiae at, quo totam voluptate facere! Suscipit,
            accusamus?
          </p>
        </article>
        <article>
          <h3>Product Launch</h3>
          <img
            class="circle"
            src="/images/home/product-launch.jpg"
            alt="product-launch"
          />
          <p class="margin">
            The MacRumors guide to upcoming products is designed to provide an overview of everything that we're expecting to see from Apple, both in the near and more distant future. Dates listed are not always concrete, but are based on the most recent rumors and information that we have.
          </p>
        </article>
        <article>
          <h3>Treaking</h3>
          <img class="circle" src="/images/home/treaking.jpg" alt="treaking" />
          <p class="margin">
            “Trekking means a travelling experience with a thrilling excitement.” “Me thinks that the moment my legs begin to move, my thoughts begin to flow.” “You need special shoes for hiking—and a bit of a special soul as well.” “I see my path, but I don't know where it leads.
          </p>
        </article>
      </div>
    </section>
    <footer>
      <div>
          <small>&copy; All CopyRights Reserved 2022</small>
      </div>
  </footer>
  </body>
</html>

